#inspire .carrousel-img {
  width: 100%;
  height: 100vh;
}

#inspire .products-btn {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 20px;
}

#inspire .list {
  padding: 0;
  height: 70vh;
  background-color: #0b0b0b;
}

#inspire .list .row {
  align-items: center;
  justify-content: center;
}

#inspire
  .list
  .row
  .d-flex.transition-fast-in-fast-out.draken-2.display-3.v-card--reveal.display3.white--text {
  height: 100%;
  background-color: #0a0b15;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
}

#inspire .list .row .pt-4 {
  position: relative;
}

#inspire .products-btn-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 200px;
}

@media screen and (max-height: 800px) {
  #inspire .products-btn {
    padding-top: 50px;
  }
}

@media screen and (max-height: 722px) {
  #inspire .list {
    height: 100vh;
  }
}
